body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #8960E0;
}

ul {
    top: 0;
    list-style-type: none;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8CA0FA;
}

p{
    font-size: 200%;
}

h1{
    font-size: 250%;
}

div.Bioscoop {
    background-color: black;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
}

.centertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 900%;
}

.film {
    min-width: 28%;
    max-width: 28%;
    min-height: 70%;
    max-height: 70%;
}

.film img{
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.film-lijst {
    display: flex;
    max-width:200%;

}

    .filmpagina img{
        width:400px;
    }

div.detail-page {
    display: flex;
    background-color: #9CD3F0;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

    div.detail-page img { 
        min-height: 28%;
        max-height: 28%;
        max-width: 70%;
        min-width: 70%; 
    }

div.details {
    border: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #9CD3F0;
    flex: 2;
}

div.detail-page .poster {
    background-size: cover;
    flex:1;
    height:800px;
}

div.detail-page .panel {
    border: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #8960E0;
    border-radius: 10px;
}


    img {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    li a:hover {
        background-color: #DF64FA;
    }

footer {
    justify-content: center;
    margin: 0;
    padding: 0px;
    background-color: #8CA0FA;
    color: black;
}

