body {
    background-color: #8CA0FA;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

ul {
    top: 0;
    list-style-type: none;
    width: 100%;
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8CA0FA;
}

div {
    background-color: black;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    li a:hover {
        background-color: black;
    }

footer {
    justify-content: center;
    padding: 5px;
    background-color: white;
    color: black;
}