<!DOCTYPE html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <ul>
        <li> <a class="active" href="#home"> Home</a> </li>
        <li> <a href="#films"> Films</a> </li>
        <li> <a href="#bioscopen"> Bioscopen</a> </li>
        <li> <a href="#Contact"> Contact</a> </li>
    </ul>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@RenderBody()

