<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <ul>
        <li> <a class="active" href="/Home"> Home</a> </li>
        <li> <a href="/Films"> Films</a> </li>
        <li> <a href="/Bioscopen"> Bioscopen</a> </li>
        <li> <a href="/Contact"> Contact</a> </li>
    </ul>
    @RenderBody()
    <footer>
        Telefoonnummer: 06-44682435
    </footer>
</body>
</html>

