@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<form method="post"> 
Voornaam:<input type="text" name="Firstname" />
Achternaam: <input type="text" name="Lastname" />
Email:<input type="text" name="Email" />
Telefoonnummer: <input type="text" name="Phone" />
Adres:<input type="text" name="Address" />
beschrijving: <input type="text" name="Description" />
<input type="submit" value="opslaan" />
</form>