@model VaesjeBioscoop.Database.Film
@{
    ViewData["Title"] = "Bioscopen";
}

<div class="detail-page">

    <div class="poster" style="background-image:url(@Model.poster)"></div>

    <div class="details">
        <div class="panel">
        <h1>@Model.titel</h1>
        <p>@Model.beschrijving</p>
        </div>
    </div>

</div>

