@{
    ViewData["Title"] = "Films";
}
<h1>@ViewData["Title"]</h1>

<div class="Filmpagina">
    <img src="/img/bond.jpg" alt="bioscoop">
    <img src="/img/Edge_of_Tomorrow.jpg" alt="bioscoop">
    <img src="/img/KungFuPanda.jpg" alt="bioscoop">
    <img src="/img/Spider-man.jpg" alt="bioscoop">
    <img src="/img/Mylittlepony.jpg" alt="bioscoop">
</div>

