@using VaesjeBioscoop.Database
@model List<Film>
@{
    ViewData["Title"] = "Films";
}

<div class="film-lijst">
    @foreach (Film f in Model)
    {
        <div class="film">
           <a href="Detail/@f.id"> <img src="@f.poster"></a>
        </div>
    }
</div>
