@using VaesjeBioscoop.Database
@model List<film>
@{
    ViewData["Title"] = "Films";
}

<div class="film-lijst">
    @foreach (film f in Model)
    {
        <div class="film">
            <img src="@f.poster">
        </div>
    }
</div>
@*
    @foreach(film f in model){
    <div class="filmpagina">
    <img src= "@f.poster" >
    </div>
    }*@