@{
    ViewData["Title"] = "Home Page";
}
<html lang="en">

<body>
    <div class="Bioscoop">
        <img src="/img/bg-home.jpg" alt="bioscoop">
    </div>
    <footer>footer</footer>
</body>

</html>


