@model List<string>
@{
    ViewData["Title"] = "Home Page";
}


<div class="Bioscoop">
    <img src="/img/bg-home.jpg" alt="bioscoop">
</div>

<footer>
    <div class= "text-center">
        <h1> Alle namen!</h1>
        @foreach(string titel in Model)
        {
          <p>@titel</p>
        }
    </div>
    <div class= "bioscoop">
        <h1> Alle namen!</h1>
        @foreach(string poster in Model)
        {
          <img src="/img/Eternals.jpg">
        }
    </div>
</footer>



